#banner{
    background-image: url('../../assets/hero.png');
    background-size: cover; /* Make the background cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
 padding:200px 0;
}
.text{
    text-align: center;
    align-items: center;
}
.text h2{
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    width: 460px;
    font-weight: bold;
    margin-left: 390px;
}
.text p{
    padding-top: 24px;
font-size: 18px;
width: 709px;
font-family: "Poppins", sans-serif;
margin-left: 280px;
}
@media(min-width:576px) and (max-width:767px){
   .text{
    width: 500px;
   }
    .text h2 {
        width:100%;
        margin-left: 0;
        font-size: 48px;
      }
      .text p {
       width:100%;
       margin-left: 2px;
       
      }
      .bio{
       padding-left: 50px;
      }
       .null {
        padding: 70px;
      }
      .mui {
        padding:  70px;
      }
        .jui{
            padding-top: 50px;
        }
        .counter {
           width: 100px;
            column-gap: 0px;
            padding-left: 100px;
         
          }
          .sick {
            padding-left: 0;
          }
    }